In [64]:
import pandas as pd 
import numpy as np

df = pd.read_csv("CCES20_Common_OUTPUT.csv")

c:\users\sidj2\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (329,330,331,332,333,338,339,340,341,342,529,530,531,532,533,534,535,536,537,538,539,540,541,542) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [65]:
df.head(1)

,Unnamed: 0,caseid,commonweight,commonpostweight,tookpost,CCEStake,birthyr,gender,educ,race,...,page_CC20_433_rep_timing,page_CC20_433b_timing,page_CC20_440_grid_timing,page_CC20_441_grid_timing,page_CC20_442_grid_timing,page_CC20_443_timing,page_gunown_timing,page_numchildren_timing,page_edloan_timing,page_student_timing
0,1,1232318697,0.783,0.665716,2,1,1966,1,4,1,...,11.844,0.0,59.339,28.464,97.403,339.34,94.145,23.653,55.331,0.0

In [66]:
ya_df = df[df['student'] == 1]
ya_df.count()

Unnamed: 0                 1211
caseid                     1211
commonweight               1211
commonpostweight           1211
tookpost                   1211
                           ...
page_CC20_443_timing       1211
page_gunown_timing         1211
page_numchildren_timing    1211
page_edloan_timing         1211
page_student_timing        1211
Length: 707, dtype: int64

In [67]:
relevant_cols = ['CC20_401', 'votereg', 'inputstate', 'gender', 'educ', 'race', 'region',
                 'CC20_422r', 'CC20_431a', 'CC20_433a']
ya_df = ya_df[relevant_cols]

In [80]:
ya_df['CC20_401'] = ya_df['CC20_401'].astype(float)

In [81]:
ya_df.head()

,CC20_401,votereg,inputstate,gender,educ,race,region,CC20_422r,CC20_431a,CC20_433a,Voted
73,5.0,1,49,2,6,1,4,96.0,1.0,1.0,0
2361,5.0,1,36,2,3,4,1,50.0,1.0,1.0,0
2912,5.0,1,19,1,6,1,2,75.0,1.0,1.0,0
3118,5.0,1,29,1,3,1,2,21.0,2.0,3.0,0
3212,5.0,1,49,2,3,1,4,43.0,1.0,3.0,0